@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Organisation Management App</h1>
    <p class="lead">This web app provides options for listing and creating new organisations, which can then use cashless payment. An administrator Identity account is required.</p>
    <p><a href="/Organisation/List" class="btn btn-primary btn-lg">View organisations &raquo;</a></p>
</div>