<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=THOMAS-ZBOOK\SQLEXPRESS;Initial Catalog=cashless_it_bedrijf;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="ITBedrijf" connectionString="Data Source=THOMAS-ZBOOK\SQLEXPRESS;Initial Catalog=cashless_it_bedrijf;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="KlantConnection" connectionString="Data Source=THOMAS-ZBOOK\SQLEXPRESS;Initial Catalog=klant_123;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>